<div class="container top-spacing">
    <div class="center well shadow">
        <div class="jumbotron">
            <h2>QuickSCRIP Texting Admin Login</h2>
        </div>
        <%= form_tag '/login' do %>
            <div class="form-group">
                <%= label_tag :username, nil, class: "font-20" %>
                <%= text_field_tag :username, nil, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= label_tag :password, nil, class: "font-20" %>
                <%= password_field_tag :password, nil, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= button_tag '<i class="glyphicon glyphicon-log-in"></i> Log in'.html_safe, type: 'submit', class: "btn btn-success pull-right" %>
                <br>
            </div>
        <% end %>
    </div>
</div>