<!DOCTYPE html>
<html>
<head>
  <title>QS Texting App</title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto" %>
  <%= stylesheet_link_tag "application.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
